.experience {
  padding: 96px 0;
  background-color: #F9FAFB;
}


.dark-mode {
  &.experience{
    background-color: #111827 !important;
    .container {
      button {
        background-color: #E5E7EB;
        color: #1F2937;
      }
      .main-box {
        .child-box {
          background-color: #1F2937;
          &:hover {
            box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
          }
          h1,p,li {
            color: white;
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 768px){
    .experience {
      .container {
        .main-box {
          .child-box {
            margin-bottom: 24px;

            .flex {
              flex-direction: column;
              align-items: start;
              row-gap: 16px;
            }
            ul {
              display: block;
              li {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
}

@media only screen and (max-width: 375px){
  .experience {
    .container {
      .main-box {
        .child-box {
          min-height: 350px !important;
          margin-bottom: 24px;
          .flex {
            flex-direction: column;
            align-items: start;
            row-gap: 16px;
          }
          ul {
            display: block;
            li {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 450rpx){
  .experience {
    .container {
      .main-box {
        .child-box {
          min-height: 350px !important;
          margin-bottom: 24px;
          .flex {
            flex-direction: column;
            align-items: start;
            row-gap: 16px;
          }
          ul {
            display: block;
            li {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}