main {
  header {
    nav {
      .container {
        img {
          width: 107px;
          height: 36px;
        }
        ul {
          li {
            font-family: Medium;
            .hoverLink {
              position: relative;
              padding-bottom: 5px;
              color: var(--gray-600, #4B5563);
              font-family: Medium;
              font-size: 16px;
              font-style: normal;
              line-height: 24px;

              &::after {
                content: " ";
                width: 0;
                height: 2px;
                background-color: black;
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translate(-50%);
                transition: all 0.4s ease;
              }
              &:hover::after {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
  section {
    .container {
      .box-left {
        .flex {
          a {
            &:hover {
              transform: scale(1.2);
              transition: all 0.2s ease-in;
              border-radius: 12px;
              background: var(--gray-100, #F3F4F6);
              box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.15);
            }
          }
        }
      }
      .box-right {
        .relative {
          border: 8px solid white;
          img {
            &:hover {
              transform: scale(1.1);
              transition: all 0.2s ease-in;
            }
          }
        }
      }
    }
  }
}

.dark-mode {
  background-color: #030712;
  nav {
    .container {
      h1 {
        color: white;
      }
      ul {
        li {
          .hoverLink {
            color: white;
            &::after {
              background-color: white;
            }
          }
          i {
            color: white;
          }
        }
      }
      .hamburger {
        color: white;
      }
      .mobileRes {
        background-color: #030712;
        p {
          color: white;
        }
        i {
          color: white;
        }
        button {
          background-color: white;
          color: #030712;
        }
      }
        .bgBlur {
          background: #D1D5DB;
          backdrop-filter: blur(4px);
        }
    }
  }
  section {
    .container {
      .box-left {
        h1 {
          color: white;
        }
        p {
          color: white;
        }
        address {
          color: white;
        }
        .flex {
          a {
            &:hover {
              background: var(--gray-100, #000);
              box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0);
            }
          }
        }
      }
      .box-right {
        .relative {
          border: 8px solid var(--linear-gradient-button, #374151);
          background: var(--gray-600, #4B5563);
          img {
            border: 8px solid var(--linear-gradient-button, #374151);
            background: lightgray 50% / cover no-repeat;
          }
        }
      }
    }
  }
}

.light-mode {
  background-color: #fff;

}

// responsive for mobile

@media only screen and (max-width: 768px) {
  main {
    header {
      nav {
        .container {
          ul {
            display: none;
          }
          .hamburger {
            display: block;
          }
          .mobileRes {
            display: block;
            background-color: white;
            width: 80%;
            height: 100%;
            .mobile-info {
              display: block;
            }
          }
        }
        .bgBlur {
          background: var(--gray-90010, rgba(17, 24, 39, 0.10));
          backdrop-filter: blur(4px);
        }
      }
    }
    section {
      .container {
        flex-direction: column-reverse;
        .box-right {
          margin-bottom: 48px;
          .relative {
            width: 280px;
            img {
              width: 240px;
              top: -25px;
              right: 12px;
              border: 10px solid white;

            }
          }
        }
      }
    }
  }
}